<files "*.p12">
deny from all
</files>

Options +FollowSymLinks -MultiViews
RewriteEngine on

RewriteCond %{REQUEST_FILENAME} .*xml$ [NC]
RewriteRule ^/?(.*).xml$ sitemap.xml [L]

RewriteCond %{REQUEST_FILENAME} .*robots.txt$ [NC]
RewriteRule .+ - [L]

RewriteCond %{HTTP_USER_AGENT} (.*Googlebot.*|.*Screaming.*)$ [NC]
RewriteRule ^/?$ snapshots/index.php [L]

RewriteCond %{HTTP_USER_AGENT} (.*Googlebot.*|.*Screaming.*)$ [NC]
RewriteCond %{REQUEST_URI} !(images|musicfiles|docs|scripts|fonts|snapshots)
RewriteRule ^[^/]+/([^/]+)/?$ snapshots/$1.php [L]

RewriteCond %{HTTP_USER_AGENT} (.*Googlebot.*|.*Screaming.*)$ [NC]
RewriteCond %{REQUEST_URI} !(snapshots)
RewriteRule ^/?([^/]+)/?$ snapshots/$1.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)\.(\d+)\.(js|css|png|jpg|gif)$ $1.$3 [L]

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L,QSA]

<ifModule mod_headers.c>
<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|swf|svg|woff)$">
	Header set Cache-Control "max-age=2592000, public"
</FilesMatch>
</ifModule>
# AddType TYPE/SUBTYPE EXTENSION
AddType audio/mpeg mp3
AddType audio/mp4 m4a
AddType audio/ogg ogg
AddType audio/ogg oga
AddType audio/webm webma
AddType audio/wav wav
AddType image/svg+xml svg
AddType application/vnd.ms-fontobject eot
AddType application/x-font-woff woff
AddType application/x-font-ttf ttf

AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE text/javascript
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/javascript